main{
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
}
main span{
    font-size: 30px;
    font-family: sans-serif;
}
main span:hover{
    color:red;
}
.myBox{
    background-color: lightgrey;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 100px;
}